[package]
name = "kalosm-sample"
version = "0.4.0"
edition = "2021"
description = "A common interface for token sampling and helpers for structered llm sampling"
license = "MIT/Apache-2.0"
repository = "https://github.com/floneum/floneum"
authors = ["Evan Almloff"]
keywords = ["ai", "llm", "llama", "mistral", "nlp"]

[dependencies]
regex-automata = "0.4.5"
kalosm-parse-macro = { workspace = true }

[dev-dependencies]
tracing-subscriber = "0.3.18"
criterion = "0.5.1"
rand = "0.8.5"
pretty_assertions = "1.4.0"

[[bench]]
name = "parse"
harness = false
