[package]
name = "kalosm-common"
version = "0.4.0"
edition = "2021"
description = "Helpers for kalosm downloads and candle utilities"
authors = ["Evan Almloff <evanalmloff@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/floneum/floneum"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candle-core = { workspace = true, optional = true }
candle-nn = { workspace = true, optional = true }
hf-hub = { version = "0.4.0", default-features = false }
tokio = { version = "1", features = ["fs"], optional = true }
reqwest = { version = "0.11.24", features = ["stream"] }
futures-util = "0.3.28"
dirs = "5.0.1"
tracing = "0.1.40"
httpdate = "1.0.3"
metal = { version = "0.29.0", optional = true }
thiserror.workspace = true
kalosm-model-types = { workspace = true, features = ["loading-progress-bar"] }

[dev-dependencies]
tokio = { version = "1.36.0", features = ["full"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3", features = [
    "Navigator",
    "StorageManager",
    "FileSystemDirectoryHandle",
    "FileSystemFileHandle",
    "FileSystemWritableFileStream",
    "FileSystemGetFileOptions",
    "FileSystemGetDirectoryOptions",
    "FileSystemCreateWritableOptions",
    "File",
    "Blob",
    "Window",
] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
js-sys = "0.3"

[features]
metal = ["dep:metal"]
candle = ["dep:candle-core", "dep:candle-nn"]
tokio = ["dep:tokio", "hf-hub/tokio"]
