[package]
name = "kalosm-sound"
version = "0.4.0"
edition = "2021"
description = "A set of pretrained audio models "
license = "MIT/Apache-2.0"
repository = "https://github.com/floneum/floneum"
authors = ["Evan Almloff <evanalmloff@gmail.com>"]
keywords = ["ai", "whisper"]

[dependencies]
cpal = { version = "0.15.3", optional = true }
rand.workspace = true
byteorder = "1.4.3"
serde_json = "1.0.107"
hound = "3.5"
rodio = "0.20.1"
dasp = { version = "0.11.0", features = ["all"] }
tokio = { version = "1.32.0", features = ["rt"], optional = true }
tracing = "0.1.37"

futures-core = "0.3.30"
futures-util = "0.3.30"
futures-channel = "0.3.30"

rwhisper.workspace = true

voice_activity_detector = { version = "0.2.0", features = ["async"], optional = true }
ort = { version = "=2.0.0-rc.10", optional = true }
ort-sys = { version = "=2.0.0-rc.10", optional = true }
nnnoiseless = { version = "0.5.1", optional = true }

[features]
default = ["denoise"]
denoise = ["dep:nnnoiseless"]
voice-detection = ["dep:voice_activity_detector", "dep:ort", "dep:ort-sys"]
source = ["dep:tokio", "dep:cpal"]

[dev-dependencies]
kalosm = { workspace = true, features = ["sound", "sound-source"], default-features = true }
anyhow.workspace = true
kalosm-streams.workspace = true
