[package]
name = "kalosm-sound"
version = "0.4.0"
edition = "2021"
description = "A set of pretrained audio models "
license = "MIT/Apache-2.0"
repository = "https://github.com/floneum/floneum"
authors = ["Evan Almloff"]
keywords = ["ai", "whisper"]

[dependencies]
cpal = "0.15.3"
rand = "0.8.5"
candle-core.workspace = true
candle-nn.workspace = true
candle-transformers.workspace = true
byteorder = "1.4.3"
serde_json = "1.0.107"
hound = "3.5"
rodio = "0.20.1"
dasp = { version = "0.11.0", features = ["all"] }
tokio = { version = "1.32.0", features = ["rt"] }
tracing = "0.1.37"

futures-core = "0.3.30"
futures-util = "0.3.30"
futures-channel = "0.3.30"

rwhisper.workspace = true

voice_activity_detector = { version = "0.1.0", features = ["async"], optional = true }
ort = { version = "=2.0.0-rc.4", optional = true }
ort-sys = { version = "=2.0.0-rc.4", optional = true }
nnnoiseless = { version = "0.5.1", optional = true }

[features]
default = ["voice_detection", "denoise"]
metal = ["candle-core/metal", "rwhisper/accelerate", "rwhisper/metal"]
cuda = ["candle-core/cuda", "rwhisper/cuda", "rwhisper/cudnn"]
mkl = ["candle-core/mkl", "rwhisper/mkl"]
denoise = ["dep:nnnoiseless"]
voice_detection = ["dep:voice_activity_detector", "dep:ort", "dep:ort-sys"]

[dev-dependencies]
kalosm = { workspace = true, features = ["sound"], default-features = true }
anyhow.workspace = true
kalosm-streams.workspace = true
